<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script th:src="@{/webjars/htmx.org/1.9.12/dist/htmx.min.js}" defer></script>
        <title>Redis Assignment</title>
    </head>
    <body class="flex flex-col justify-start items-center h-screen w-full bg-gray-100">
        <div class="flex flex-col w-full max-w-4xl h-full">
            <nav class="h-14 w-full mt-5 p-1.5 bg-white rounded-2xl shadow-md">
                <div class="flex justify-evenly items-center ml-4 mr-4">
                    <div class="flex-grow flex items-center gap-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 128 128">
                            <path fill="#a41e11"
                                  d="M121.8 93.1c-6.7 3.5-41.4 17.7-48.8 21.6s-11.5 3.8-17.3 1S13 98.1 6.3 94.9c-3.3-1.6-5-2.9-5-4.2V78s48-10.5 55.8-13.2c7.8-2.8 10.4-2.9 17-.5s46.1 9.5 52.6 11.9v12.5c0 1.3-1.5 2.7-4.9 4.4"/>
                            <path fill="#d82c20"
                                  d="M121.8 80.5C115.1 84 80.4 98.2 73 102.1s-11.5 3.8-17.3 1S13 85.4 6.3 82.2C-.3 79-.5 76.8 6 74.3c6.5-2.6 43.2-17 51-19.7c7.8-2.8 10.4-2.9 17-.5s41.1 16.1 47.6 18.5c6.7 2.4 6.9 4.4.2 7.9"/>
                            <path fill="#a41e11"
                                  d="M121.8 72.5C115.1 76 80.4 90.2 73 94.1c-7.4 3.8-11.5 3.8-17.3 1S13 77.4 6.3 74.2c-3.3-1.6-5-2.9-5-4.2V57.3s48-10.5 55.8-13.2c7.8-2.8 10.4-2.9 17-.5s46.1 9.5 52.6 11.9V68c0 1.3-1.5 2.7-4.9 4.5"/>
                            <path fill="#d82c20"
                                  d="M121.8 59.8c-6.7 3.5-41.4 17.7-48.8 21.6c-7.4 3.8-11.5 3.8-17.3 1S13 64.7 6.3 61.5s-6.8-5.4-.3-7.9c6.5-2.6 43.2-17 51-19.7c7.8-2.8 10.4-2.9 17-.5s41.1 16.1 47.6 18.5c6.7 2.4 6.9 4.4.2 7.9"/>
                            <path fill="#a41e11"
                                  d="M121.8 51c-6.7 3.5-41.4 17.7-48.8 21.6c-7.4 3.8-11.5 3.8-17.3 1C49.9 70.9 13 56 6.3 52.8c-3.3-1.6-5.1-2.9-5.1-4.2V35.9s48-10.5 55.8-13.2c7.8-2.8 10.4-2.9 17-.5s46.1 9.5 52.6 11.9v12.5c.1 1.3-1.4 2.6-4.8 4.4"/>
                            <path fill="#d82c20"
                                  d="M121.8 38.3C115.1 41.8 80.4 56 73 59.9c-7.4 3.8-11.5 3.8-17.3 1S13 43.3 6.3 40.1s-6.8-5.4-.3-7.9c6.5-2.6 43.2-17 51-19.7c7.8-2.8 10.4-2.9 17-.5s41.1 16.1 47.6 18.5c6.7 2.4 6.9 4.4.2 7.8"/>
                            <path fill="#fff"
                                  d="m80.4 26.1l-10.8 1.2l-2.5 5.8l-3.9-6.5l-12.5-1.1l9.3-3.4l-2.8-5.2l8.8 3.4l8.2-2.7L72 23zM66.5 54.5l-20.3-8.4l29.1-4.4z"/>
                            <ellipse cx="38.4" cy="35.4" fill="#fff" rx="15.5" ry="6"/>
                            <path fill="#7a0c00" d="m93.3 27.7l17.2 6.8l-17.2 6.8z"/>
                            <path fill="#ad2115" d="m74.3 35.3l19-7.6v13.6l-1.9.8z"/>
                        </svg>
                        <a href="/">Redis Assignment</a>
                    </div>
                    <p class="flex-grow text-right">Leonidis Dimitrios - mai24028</p>
                </div>
            </nav>
            <section id = "content-container" class="h-full max-h-[90%] w-full flex justify-center items-center">
                <div  class="w-96 h-72 bg-white rounded-2xl shadow-md flex flex-col justify-center items-center">
                    <form id="sign-in-form" hx-post="/login" hx-trigger="submit" hx-target = "#content-container"  method="post" class="flex flex-col items-center">
                        <h1 class="text-2xl font-bold mb-4">Login</h1>
                        <div class="mb-4">
                            <label for="username" class="block text-gray-700">Username:</label>
                            <div class="flex items-center justify-center p-1 mt-1 w-full border border-gray-400 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24"><path fill="#D82C20" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
                                <input type="text" id="username" name="username" class="form-input focus:ring-0 border-none ">
                            </div>

                        </div>
                        <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded">Login</button>
                    </form>

                </div>
                <div id="error-message" class="hidden"></div>
            </section>
        </div>
    </body>
</html>